@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

header {
    background-color: white;
    height: 400px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.hero-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #F8F9FA;
    color: #000000;
    font-family: DM Sans;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size:32px;
    font-weight: 700;
    color: #053229;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #355E58;
}